.bread-crumbs-padding {
	padding-top: $p7;
}

.bread-crumbs {
	border-top: 2px solid $darkBrown;
	padding-top: $p2;
	padding-bottom: $p2;

	&.ab {
		display: none;
	}
}

.bread-crumbs__container {
	display: flex;
	justify-content: start;
	gap: $p3;
}


.category-menu {
	&__title {
		margin-bottom: 30px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include av('column-gap', $pm4, 0, $maxWc, $minWc);
		row-gap: $p4;
	}

	&__li {
		position: relative;
		display: flex;
		flex-direction: column;
		border: 2px solid $darkBrown;
		@include av('padding', $pm4, $pm3, $maxWc, $minWc)
	}

	@media (max-width: #{850px}) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: #{550px}) {
		&__list {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.img-container {
	position: relative;

}

.menu-item-note {
	z-index: 5;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	min-width: 60px;
	height: 35px;
	background-color: $lightBrown;

	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.025em;
	text-transform: lowercase;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 7px;

	color: $creamyBrown;
}

.category-item {
	&__img {
		position: relative;
		display: block;
	}

	&__body {
		display: flex;
		align-items: start;
		justify-content: space-between;
		margin-bottom: $pm4;
	}

	&__title {
		font-size: 20px;
		line-height: 130%;

		display: flex;
		align-items: flex-end;
		text-align: start;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		padding-right: $p4;
		margin-bottom: $p2;
	}

	&__price {
		font-size: 20px;
		line-height: 130%;

		display: flex;
		align-items: flex-end;
		letter-spacing: 0.025em;
		text-transform: uppercase;
	}

	&__text {
		font-weight: 400;
		font-size: 21px;
	}
}