.categories-menu {
	&__title {
		margin-bottom: 20px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include av('column-gap', $pm4, 0, $maxWc, $minWc);
		row-gap: $p4;
	}

	&__li {
		position: relative;
		display: flex;
		flex-direction: column;
		border: 2px solid $darkBrown;
		padding: $p3;
	}

	@media (max-width: #{$md2 + px}) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: #{$md3 + px}) {
		&__list {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.categories-item {
	&__img {
		width: 100%;
		@include av('margin-bottom', $pm4, $pm3, $maxWc, $minWc)
	}

	&__title {
		font-size: 20px;
		line-height: 130%;

		letter-spacing: 0.025em;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		text-transform: uppercase;
		margin-bottom: $p4;
	}
}