.first-page {
	&__container {
		height: auto;
		display: flex;
		align-items: top;
	}

	&__body {
		@include av('padding-top', $pm6, $pm5, $maxWc, $md2);
	}

	h1 {
		@include av('margin-bottom', $pm5, $pm2, $maxWc, $md2);
	}

	&__img {
		object-fit: cover;
		flex: 1 1 auto;
		@include av('width', 700, 400, $maxWc, $md2);
		@include av('margin-left', $pm4, $pm3, $maxWc, $md2);
	}

	&__img-mob {
		display: none;
		@include av('width', 700, 290, $maxWc, $minWc);
	}

	&__title {
		@include av('font-size', 50, 44, $maxWc, $minWc);
	}

	&__subtitle {
		@include av('max-width', 480, 300, $maxWc, $md2);
		letter-spacing: 0.05em;
		text-align: left;

		p {
			margin-bottom: $p3;
		}

		@include av('margin-bottom', $pm4, $pm3, $maxWc, $minWc);
	}

	&__button {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 800;
		@include av('font-size', 20, 16, $maxWc, $minWc);
		line-height: 27px;
		letter-spacing: 0.10em;

		color: $creamyBrown;
		background-color: $lightBrown;
		display: inline-block;
		padding: $p2 $p5;
	}

	@media (max-width: #{$md2 + px}) {
		h1 {
			margin-bottom: $p4;
		}

		&__subtitle {
			max-width: 500px;
		}

		&__body {
			padding: 0;
			margin-top: -5%;
		}

		&__img {
			display: none;
		}

		&__img-mob {
			display: block;
			margin: 0 auto;
			padding-bottom: $p3;
		}
	}
}