.reviews {
	&__container {
		max-width: 1330px;
		margin: 0 auto;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: $p4;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include av('height', 460, 380, $maxWc, $minWc);
		padding: $p4;
		border: 2px solid $darkBrown;
	}

	&__title {
		margin-bottom: $p4;
	}
}

.review {
	&__stars img {
		width: 15px;
		height: 15px;
	}

	&__stars {
		display: flex;
		gap: 5px;
		margin-bottom: $p5;
		@include av('margin-bottom', $pm5, $pm3, $maxWc, $minWc);
	}

	&__text {
		padding: $p2 $p4 $p2 $p2;
		overflow: auto;
		width: 100%;
		max-height: 80%;
		text-align: start;
		@include av('margin-bottom', $pm5, $pm4, $maxWc, $minWc);
	}

	&__author {
		width: 100%;
		max-height: 28px;
		overflow: hidden;
		text-align: start;
	}
}